<h1>PIANO</h1>
<div class="row">
  <div class="col-lg-4">
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">APP PIANO</a>


  <a (click)="AplicarSonido(1)" class="list-group-item " style="background-color:red;">DO</a>
  <a (click)="AplicarSonido(2)" class="list-group-item " style="background-color: orange;">RE</a>
  <a (click)="AplicarSonido(3)" class="list-group-item " style="background-color: yellow;">MI</a>
  <a (click)="AplicarSonido(4)" class="list-group-item " style="background-color: green;">FA</a>
  <a (click)="AplicarSonido(5)" class="list-group-item " style="background-color: aquamarine;">SOL</a>
  <a (click)="AplicarSonido(6)" class="list-group-item " style="background-color: blue;">SI</a>
  <audio controls><source src="../assets/Sonidos/do-80236.mp3" type="audio/mpeg">your brose"</audio>
</div>
  </div>
</div>
